.navigation {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 999;
}
.navigation .logo {
  line-height: 50px;
}
.navigation a {
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  padding: 0 10px;
  line-height: 50px;
  text-decoration: none;
  color: #333;
}

.navigation a:hover {
  color: rgb(10, 151, 233);
}
